@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: #161b22;
    --clr-secondary: #2b323b;
    --clr-background: #010409;
}

html,
body {
    height: 100vh;
}

body {
    background-color: var(--clr-background);
    display: flex;
    flex-direction: column;
}

p,
b,
.text {
    color: white;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    color: white;
}

/* header */

header ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    background-color: var(--clr-background);
}

header li:hover {
    background-color: var(--clr-secondary);
}

header li {
    list-style-type: none;
    background-color: var(--clr-primary);
    height: 2.5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: .5rem;
}

header li img {
    height: 1.6rem;
}

.invisible {
    display: none;
}

.active {
    background-color: var(--clr-secondary);
}

/* main */
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    height: 100vh;
}

main .app {
    padding: 2rem;
    background-color: var(--clr-primary);
    cursor: pointer;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

main .app img {
    width: 5rem;
}

main iframe {
    width: 100vw;
}

/* footer */
footer {
    text-align: center;
    padding: 1rem;
}

/* home - first screen */
.home {
    align-items: center;
}

.home .app {
    height: 10rem !important;
}
