@media only screen and (min-width: 0px) and (max-width: 1090px) {
  body {
    min-height: 100dvh;
  }

  .nav-btn,
  .nav-logo {
    height: 2rem;
  }

  .home {
    display: column;
    grid-template-columns: 1fr 1fr;
  }

  header {
    padding: .5rem 1rem;
    background-color: var(--clr-primary);
  }

  header ul {
    display: none;
  }

  header .mobile-nav {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: end;
  }

  header .nav-logo {
    position: absolute;
    left: 1rem;
    height: 2rem;
  }

  main.home {
    height: auto !important;
    padding: 2rem 1rem 1rem 1rem;
  }

  .mobile-nav-active {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: auto;
    right: 0;
    margin-top: .5rem;
  }

  .mobile-nav-active li {
    width: 100%;
  }

  header ul #li_nav_reload {
    display: none;
  }
}

@media only screen and (min-width: 1091px) {
  .mobile-nav {
    display: none;
  }

  header ul #li_nav_reload:nth-child(1) {
    order: 1;
    margin-left: auto;
  }
}
